@import "reset.css";
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: Apple SD Gothic Neo, arial, sans-serif;
  color: #202124;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 6px;
  .google-info {
    padding: 5px;
    margin-left: 15px;
    margin-right: 5px;
  }
  .google-store {
    padding: 5px;
    margin: 0 5px;
  }
}
.menu-button {
  width: 24px;
  height: 24px;
}
