@import "reset.css";
* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Apple SD Gothic Neo, arial, sans-serif;
  color: #202124;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 6px;
  .google-info {
    padding: 5px;
    margin-left: 15px;
    margin-right: 5px;
  }
  .google-store {
    padding: 5px;
    margin: 0 5px;
  }
  .header-right {
    height: 100%;
    flex-grow: 1;
    .header-right-box {
      height: 100%;
      float: right;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 4px;
      .gmail-link {
        padding-left: 15px;
        font: 13px/27px Roboto, Arial, sans-serif;
        line-height: 24px;
      }
      .image-link {
        padding: 0 15px;
        font: 13px/27px Roboto, Arial, sans-serif;
        line-height: 24px;
      }
      .menu-button {
        fill: rgb(95, 99, 104);
        width: 48px;
        height: 24px;
      }
      .login-button {
        cursor: pointer;
        line-height: 16px;
        letter-spacing: 0.25px;
        margin: 0 8px;
        width: 96px;
        color: #fff;
        background: #1a73e8;
        border: 1px solid transparent;
        padding: 9px 23px;
        border-radius: 4px;
      }
    }
  }
}
